* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*default body*/
body, html {
    font-family: sans-serif;
    height: 100%;
  }

/*default paragraph text*/
p {
    font-size: 12px;
    text-transform: none;
    letter-spacing: 1px;
}

/*defining the header containing nav bar, logo, icon links*/
header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    height: 50px;
    z-index: 999;
    overflow: hidden;
}

.subheader {
    position: fixed;
    right: 0;
    left: 0;
    top: 50px;
    width: 100%;
    background: #6F7069;
    height: 93px;
    z-index: 999;
    overflow: hidden;
}

.gnflogo {
    position: fixed;
    left: 150px;
    margin-top: -30px;
}

/*custom colours for use in html file*/
.bg-custom1 {
    background-color: #6F7069;
}

.bg-custom2 {
    background-color: #6F7069;
}

.bg-custom3 {
    background-color: #6F7069;
}

/*hamburger drop down menu*/
.navbar {
    width: 300px;
    height: 100%;
    background-color: #6F7069;
    position: fixed;
    top: 50px;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change {
    left: 0;
}

/*hamburger drop down menu*/
.hamburger-menu {
    width: 90px;
    height: 90px;
    background-color: none;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

/*hamburger lines*/
.line {
    width: 25%;
    height: 1px;
    margin: auto;
    background-color: white;
    transition: all 0.8s;
}

.sublinks {
    color: white;
    margin-right: 200px;
    margin-top: 150px;;
}

.change .line1 {
    transform: rotateZ(-405deg) translate(-7.7px, 6.5px);
    background-color: white;
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotateZ(405deg) translate(-7.7px, -6.5px);
    background-color: white;
}

/*hamburger nav items and links*/
.nav-list {
    text-align: left;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 450;
    letter-spacing: 1px;
    text-transform: capitalize;
    top: -100px;
    position: relative;
    padding: 3px 0;
}

.nav-link:hover {
    color: white;
}

/*hamburger functionality*/
.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #6F7069;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}

/*logo positioning*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
}

/*account header icon*/
.account-icon {
    width: 30px;
    height: 50px;
    font-size: 35px;
    background-color: none;
    position: fixed;
    top: 0px;
    right: 296px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}
    
/*shoppingcart header icon*/
.shoppingcart-icon {
    width: 30px;
    height: 50px;
    font-size: 35px;
    background-color: none;
    position: fixed;
    top: 0px;
    right: 230px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

/*chat header icon*/
.chat-icon {
    width: 30px;
    height: 50px;
    font-size: 35px;
    background-color: none;
    position: fixed;
    top: 0px;
    right: 164px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.chat-link:hover {
    color: #6F7069;
    background-color: none;
}

.chat-link {
    margin: 15px;
    color: #6F7069;
    background-color: none;
}

/* email header icon */
.email-icon {
    width: 30px;
    height: 50px;
    font-size: 35px;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 98px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.email-link:hover {
    color: #6F7069;
    background-color: none;
}

.email-link {
    margin: 15px;
    color: #6F7069;
    background-color: none;
}

/* location header icon */
.location-icon {
    width: 60px;
    height: 50px;
    font-size: 35px;
    background-color: white;
    position: fixed;
    top: 0px;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}

.location-link:hover {
    color: #6F7069;
}

.location-link {
    margin: 15px;
    color: #6F7069;
}

.subheaderlink1 {
    color: white;
    position: fixed;
    right: 150px;
    margin-top: 40px;
}

.subheaderlink2 {
    color: white;
    position: fixed;
    right: 310px;
    margin-top: 40px;
}

.subheaderlink3 {
    color: white;
    position: fixed;
    right: 450px;
    margin-top: 40px;
}

/*h1new*/
.h1new {
    text-align: center;
    margin-top: 200px;
    color: #6F7069;
    font-size: 4em;
}

/*h2*/
/* h2 {
    text-align: center;
    margin-top: 50px;
} */

/*body carousel*/
.carousel-caption {
    background-color: #ffffff;
    padding: 35px 35px 35px 35px;
    margin-bottom: 7%;
    color: #6F7069;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*carousel heading text*/
.carhea {
    letter-spacing: 5px;
}

/*hotel facilities container - images with descriptions with Discover More links*/
.nav2 {
    margin-top: 24px;
    margin-bottom: 24px;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 3em;
}


.linenav2 {
    width: 45%;
    height: 1px;
    margin: auto;
    background-color: white;
}

.linenav3 {
    width: 28%;
    height: 1px;
    margin: auto;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 35px;
}

.linenav4 {
    width: 28%;
    height: 1px;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 65px;
}

.pnav2 {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.pnav3 {
    width: 30%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #6F7069;
}

.btn-dark {
    font-size: 8pt;
    letter-spacing: 2px;
    margin-top: 24px;
    background-color: #6F7069;
    border: none;
}

.btn-dark:hover {
    background-color: #6F7069;
    opacity: 0.8;
}

.curved {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*coloured banner container - single image, text and button*/
.jumbotron-fluid {
    background-color: #6F7069;
    text-align: center;
}

.display-4 {
    letter-spacing: 2px;
    color: white;
}
    
.lead {
    font-size: 11pt;
    letter-spacing: 2px;
    color: white;
    align-items: center;
}

/* .jumimg {
    margin-right: 110px;  
} */

.btn-jumimg {
    font-size: 8pt;
    color: white; 
    letter-spacing: 2px;
    margin-top: 45px;
    margin-bottom: -25px;
    background-color: #6F7069;
    border: none;
}

.btn-jumimg:hover {
    color: white;
    opacity: 0.8;
}

/*lower container*/
.tpad {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

/*footer main*/
.row { 
    margin-left: 0;
    margin-right: 0;
}

.h71a {
    text-transform: uppercase;
    font-size: 12pt;
    letter-spacing: 2px;
    color: white;

}

.ul1a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 9pt;
    line-height: 25px;
    list-style: none;
    color: white;
}

.li1:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.fa:hover {
    color: #6F7069;
    text-decoration: none;
}

.h71b {
    text-transform: uppercase;
    font-size: 12pt;
    letter-spacing: 2px;
    color: white;
}

.ul1b {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 9pt;
    line-height: 25px;
    list-style: none;
    color: white;
}

.h71c {
    text-transform: uppercase;
    font-size: 12pt;
    letter-spacing: 2px;
    color: white;
}

.ul1c {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 9pt;
    line-height: 25px;
    list-style: none;
    color: white;
}

/*footer social media links*/
.fa-facebook {
    color: white;
    padding-right: 14px;
}

.fa-twitter {
    color: white;
    padding-right: 14px;
}

.fa-google {
    color: white;
    padding-right: 14px;
}

.fa-instagram {
    color: white;
    padding-right: 14px;
}

.fa-youtube {
    color: white;
    padding-right: 14px;
}

.fa-pinterest {
    color: white;
    padding-right: 14px;
}
 
/*footer newsletter sign-up*/
.text-n {
    font-size: 11pt;
    color: white;
}
  
input[type=text], input[type=submit] {
    width: 40%;
    display: inline-block;
    border: none;
}
  
input[type=checkbox] {
    margin-top: 4px;
    border: none;
}

.ticktext {
    font-size: 8pt;
    color: white;
}
  
input[type=submit] {
    background-color: white;
    color: #6F7069;
    border: none;
    border-radius: 4px;
    width: 16%;
    font-size: 8pt;
    letter-spacing: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}
  
input[type=submit]:hover {
    opacity: 0.8;
}

/*footer award images*/
.imgtrans {
    margin-right: 2rem;
    margin-top: 2rem;
}

/*footer - lower*/
.container-footer {
    background-color: white;
    color: black;
    font-size: 8pt;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
}

table {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    color: #6F7069;
}

.tbl2 {
    margin-top: -25px;
}

.top {
    height: auto;
    background-image: url('/images/texturedBackground.jpg'); 
    background-size: cover;
}

.lefttd {
    vertical-align: top;
    padding-top: 45px;
    width: 50%;
    text-align: center;
    padding-bottom: 45px;
}

.righttd {
    padding-top: 45px;
    width: 50%;
    vertical-align: top;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 25px;
}

.specs {
    font-size: 4em;
    text-align: center;
    letter-spacing: .5rem;
}

.bottom {
    padding-top: 50px;
    height: auto;
}

.leftbd {
    background-color: #6f7069;
    vertical-align: top;
    padding-top: 45px;
    width: 50%;
    text-align: center;
    padding-bottom: 45px;
    color: white;
    padding-right: 5%;
    padding-left: 5%;
}

.rightbd {
    background-color: #c9b9a8;
    border-bottom-right-radius: 25px;
    justify-content: center;
    margin: auto;
}

input[type=select] {
    background-color: white;
    color: #6F7069;
    border: none;
    border-radius: 25px;
    font-size: 12pt;
    letter-spacing: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    margin: 2%;
}

.linenav4 {
    width: 28%;
    height: 1px;
    margin: auto;
    background-color: black;
    margin-top: 8px;
    margin-bottom: 35px;
}





    
  